BookStack/vendor
BookStack/node_modules
BookStack/Homestead.yaml
BookStack/.env
BookStack/.idea
BookStack/npm-debug.log
BookStack/yarn-error.log
BookStack/public/dist
BookStack/public/plugins
BookStack/public/css
BookStack/public/js
BookStack/public/bower
BookStack/public/build/
BookStack/storage/images
BookStack/_ide_helper.php
BookStack/storage/debugbar
BookStack/.phpstorm.meta.php
BookStack/yarn.lock
BookStack/bin
BookStack/nbproject
BookStack/.buildpath
BookStack/.project
BookStack/.settings/
BookStack/webpack-stats.json
BookStack/.phpunit.result.cache
BookStack/.DS_Store
BookStack/phpstan.neon
